.jumbotron {
  background-image: url(http://nebula.wsimg.com/6a3dd6b421cec47f143ff17444a280e2?AccessKeyId=A944D24883E346B1FFC3&disposition=0&alloworigin=1);
  background-size: cover;
  background-position: 15%;
  color: white;
}
